<!-- Home Page -->

{{define "title"}}Welcome to your ToDo!{{end}}

<!---->

{{define "body"}}
<main class="w3-display-container w3-grey" style="height: 100vh">
  <div
    class="w3-display-middle w3-card-4 w3-mobile"
    style="width: 40rem"
  >
    <div class="w3-white w3-container">
      <h1 class="w3-padding">My ToDo using HTMX</h1>
      {{template "todo" .}}
    </div>
  </div>
</main>
{{end}}
